html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
    color: white;
}

a {
    color: inherit;
    font-style: italic;
    text-decoration: inherit;
}

#view {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}     

#view .view-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    box-shadow: inset 4px 0px 4px -4px #111;
}

#view .view-item .view-item-container {
    overflow-y: auto;
    flex-grow: 1;
    box-shadow: inset 0px 4px 4px -4px #111;
}

#view .view-item .view-item-title {
    padding: 4px;
    text-align: center;
    font-weight: bold;
    flex-grow: 0;
}

#view-pack {
    background-color: #332b3e;
    min-width: 10em;
}

#view-pack ol {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
}

#view-pack ol li {
    position: relative;
    cursor: pointer;
}

#view-pack ol li label:hover {
    text-decoration: underline;
}

#view-tree {
    width: 18em;
    background-color: #3e2b39;
}

#view-tree ol {
    margin: 0.5em;
    padding: 0;
    list-style-type: none;
}

#view-tree ol ol {
    padding-left: 16px;
    margin: 0;
}

#view-tree ol li {
    position: relative;
}

#view-tree ol li label {
    cursor: pointer;
}
#view-tree ol li label:hover {
    text-decoration: underline;
}

#view-summary {
    width: 18em;
    background-color: #2b323e;
    word-break: break-all;
}

#view-summary table {
    color: inherit;
    margin: 4px;
    border-collapse: collapse;
}

#view-summary table td {
    padding: 0 4px;
    border-left: solid 2px #465265;
}

#view-summary table tr {
    border: solid 1px #465265;
}

#view-summary img {
    display: inline-block;
    padding: 4px;
    max-width: 30em;
    min-height: 16em;
}

#view-3d {
    flex-grow: 1;
    background-color: #333333;
}


#view-3d canvas {
    width: 100%;
    height: 100%;
    border: none;
}

a.button-dump {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url('dump-16.png');
    cursor: pointer;
}
