html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
}

a {
    color: inherit;
    font-style: italic;
    text-decoration: inherit;
}

#view-container {
    overflow: auto;
    width: 100%;
    height: 100%;
}

#view {
    display: table;
    width: 100%;
    height: 100%;
}            

#view-pack,
#view-tree,
#view-summary,
#view-3d {
    display: table-cell;
    height: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: white;
}

#view-pack {
    background-color: #332b3e;
    width: 10em;
}

#view-pack ol {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
}

#view-pack ol li {
    cursor: pointer;
    position: relative;
}

#view-pack ol li label:hover {
    text-decoration: underline;
}

#view-tree {
    width: 15em;
    background-color: #3e2b39;
    box-shadow: inset 4px 0px 4px -2px rgba(0, 0, 0, 0.2);
}

#view-tree ol {
    margin: 0.5em;
    padding: 0;
    list-style-type: none;
}

#view-tree ol ol {
    padding-left: 16px;
    margin: 0;
}

#view-tree ol li {
    position: relative;
}

#view-tree ol li label {
    cursor: pointer;
}
#view-tree ol li label:hover {
    text-decoration: underline;
}

#view-summary {
    width: 18em;
    background-color: #2b323e;
    box-shadow: inset 4px 0px 4px -2px rgba(0, 0, 0, 0.2);
    word-break: break-all;
}

#view-summary table {
    color: inherit;
    margin: 4px;
    border-collapse: collapse;
}

#view-summary table td {
    padding: 0 4px;
    border-left: solid 2px #465265;
}

#view-summary table tr {
    border: solid 1px #465265;
}

#view-summary img {
    display: inline-block;
    padding: 4px;
    max-width: 30em;
    min-height: 16em;
}

#view-3d {
    background-color: #333333;
    box-shadow: inset 4px 0px 4px -2px rgba(0, 0, 0, 0.2);
}


#view-3d canvas {
    width: 100%;
    height: 100%;
    border: none;
}

a.button-dump {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url('dump-16.png');
    cursor: pointer;
}
